


/*HEADER*/
.logo{
    width: 200px;
    background-color: #F5983B;
}

.barraInicio{
  text-transform: uppercase;
  border: 2px;
  border-radius: 4px;
  background-color: #F5983B;
 
}

.titulo{
    font-family: 'RocknRoll One', sans-serif;
    text-align: center;
    font-size-adjust: 3rem;
    background-color: $color-fondo-header;
    

}